<div class="mat-elevation-z8">
    <h1>Employees List</h1>
    <div class="mt-4 rounded border p-4">
        <div class="flex items-center justify-between mt-4">
            <div class="w-full max-w-[300px]">
                <label for="default-search"
                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
                        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search Mockups, Logos..." required />
                    <button type="button" (click)="onSearch()"
                        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                </div>
            </div>
            <button class="bg-blue-500 px-3 py-2 rounded cursor-pointer" (click)="addEmployee()">Add Employees</button>
        </div>
        <table mat-table [dataSource]="employeesList" class="mt-4">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex gap-2">
                        <button type="button" class="px-3 py-2 bg-blue-500 text-white rounded"
                            (click)="editEmployee(element)">Edit</button>
                        <button type="button" class="px-3 py-2 bg-red-500 text-white rounded"
                            (click)="deleteEmployee(element)">Delete</button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
                <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>